*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: .5s;
}


body
{
	font-family:'Work Sans', sans-serif;
	
}
.container
{
	background: lightgray;
	margin: auto;
	padding: 0px;
	width: 1200px;
	overflow: hidden;
	
}
@media only screen and (min-width: 768px)
{
}
#front
{	display: none;
	/* background: url(../imges/MyPost2.png); */
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	background-color: black;
	position: relative;
	text-align: center;
	top: 0;
	transition: 4s;
}
#front > div
{
	position: relative;
	top: 50vh;
}
#front > div figcaption {
    color: white;
    padding: 10px 0;
    font-size: 11px;
    text-align: center;
}
#front > div button {
    border-radius: 10px;
    box-shadow: 5px 5px 5px #333;
    font-size: 1.25em;
    font-weight: bolder;
    text-align: center;
    padding: 0px 5px;
    text-transform: uppercase;
    width: 100px;
    line-height: 35px;
    height: 35px;
}
#backD {
    height: 0;
    background: black;
    overflow: scroll;
    overflow-x: hidden;
    position: relative;
    top: 0;
    transition: 0s;
}
.headC1
{
	height: 55vmin;
}
.headC2
{
	height:90vmin;
}
#head{
	position: relative;
}

#head #forcopy
{
	overflow: visible;
	background-color: black;
	height: 100%;
	
}

#sitting
{
	height: 0px;
	left: 0;
	padding: 0;
	max-width: 0;
	position: relative;
	right: 0;
	top: 10px;
	z-index: 2;
}
#forcopy
{
	position: relative;
}
#head > div#ayat
{
	border: .5px solid white;
	background: wheat;
	color: black;
	font-size: 30px;
	height: 100%;
	line-height: 60px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 50px 10px ;
	position: absolute;
	top: 0;
	transform: scale(0);
	width: 100%;
	z-index: 2;
}
#sitting  #iconmenu{
	left: 0;
    color: rgb(47, 201, 228);
    position: absolute;
    z-index: 2000;


}
#iconmenu span {
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    margin-bottom: 2px;
    background-color: rgb(28 202 255);
}
#sitting > #iconmenu {
    
	width: 32px;
	height: 32px;
	border-radius:5px ;
	background-size: 100% 124%;
	background-position: 0 -4px;

}
.situlC2{
	max-width:300px;
}
.situl{
	max-width:0;
}
#situl
{
	display: flex;
	left: 25px;
	list-style: none;
	overflow-x: hidden;
	overflow-y: visible;
	position: absolute;
	z-index: 1;
}

#situl li {
    background: rgba(0,0,0,.8);
    border: 2px solid rgb(207, 206, 206);
    color: wheat;
    cursor: pointer;
    font-size: 20px;
    margin-left: 5px;
    max-height: 40px;
    padding: 5px 2px;
    position: relative;
    text-align: center;
    width: 126px;
}
#situl #fonsiz button
{
	background: wheat;
	cursor: pointer;
	display: block;
	height: 30px;
	margin: auto;
	min-width: 70px;
}
#situl li #selectD
{
	max-height: 0;
	overflow-x: hidden;
	overflow-y: scroll;
}
#sunI {
    width: 100%;
    height: 100%;
	position: absolute;
	font-size: 14px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    left: 0%;
    transform: scale(0);
    top: 0;
}
#box_load{
	width: 100%;
	height: 100%;
	display: none;
	align-items: center;
	justify-content: center;
	position: absolute;
	top :0px;
	left: 0;
	z-index: 10;
	  text-align: center;
  }
  #pare_box{
	margin: auto;
	  display:flex;
	  width: 50vw;
	  padding:0 5vh;
	  background-color: rgba(0,0,0,.5);
	  justify-content: center;
	  align-items: center;
	  border-radius: 10vh;
  }

.ball{
	width:20px;
	  height:20px;
	  border-radius: 50px;
	  animation-timing-function: ease-in-out;
	  animation-iteration-count:20;
	  animation-duration:3s;
	  line-height: 20px;
  }
  #bal1{
	  transform:scale(1);

  }
  #bal2{
	  transform:scale(.5);

  }
  #bal3{
	  transform:scale(.25);
  }
  .balBoxC{
		width:300px;
		font-size: 16px;
		display: flex;
		align-items: center;
		justify-content: start;
		text-align: center;
  }
  .balBoxCLoad{
	width:100%;
	height: 100vh;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
  }
  .balBoxCLoad .SmalBalC{
	width:40px;
	height:40px;
	border-radius: 50px;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
	animation-duration:3s;
	animation-name: loadball;
  }
  .SmalBalC{
	width:25px;
	height:25px;
	border-radius: 50px;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
	animation-duration:3s;
	animation-name: loadball;
  }
  .SmalBalC:first-child{
		  transform:scale(1);
		  background:red ;
		  animation-delay: 0;
	  }
	  .SmalBalC:nth-child(2){
		  transform:scale(.5);
		  background: green;
		  animation-delay: .25s;
	  }
  	.SmalBalC:last-child{
		  transform:scale(.25);
		  background:blue ;
		  animation-delay: .5s;
	  }
  #load_text{
	text-align: center;
	  color:rgb(10, 240, 10);
	  text-decoration:underline;
	  font-size:20px;
	  background-color: rgba(0,0,0,.5);
  }
  .greytitle{
	  color:rgb(128, 128, 128);
	  font-size: .7em;
	  text-decoration: none;
	  font-weight: thick;
  }
  @keyframes loadball{
	0%{
		transform:scale(.25);
	}
	25% {
		transform:scale(1);
	}
	50%{
		transform:scale(.25);
	}
	75% {
		transform:scale(1);
	}
	100%{
		transform:scale(.25);
	}
}
#moonI {
    width: 100%;
    height: 100%;
	font-size: 14px;

    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    left: 0%;
    top: 0;
	position: absolute;
    transform: scale(1);
}
.container
{
	background: wheat;
}
#bodyD {
    box-shadow: 9px 2px 110px wheat;
    margin-top: 0px;
    color: black;
    transition: all 0s;
}
#bodyD #serD i
{
	border: 1px solid rgb(21, 161, 255);
	border-radius: 50px 0 0 50px;
	color: green;
	font-size: 25px;
	height: 50px;
	line-height: 40px;
	padding: 5px;
	text-align: center;
	width: 50px;
}
#bodyD #serD > div
{
	display: flex;
	height: 50px;
	transition: 0s;
}
#bodyD #serD i:last-child
{
	border-radius: 0px 50px 50px 0px;
	overflow: hidden;
	transition: 0.3s;
	visibility: hidden;
}
#bodyD #serD input
{
	background-image: linear-gradient(90deg, white -18%, black 47%, white 111%);
	color: wheat;
	display: inline-block;
	font-size: 20px;
	max-width: 0;
	padding: 5px 0px;
	text-align: center;
	text-transform: capitalize;
	transition: 0.3s;
	visibility: hidden;
}
#bodyD #serD input::placeholder
{
	color: rgb(28, 202, 255);
}

#bodyD ul
{
	display: grid;
	grid-gap: 2%;
	grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
	list-style-type: none;
	padding: 10px;
}
#bodyD ul li
{
	border: 2px solid rgb(172, 172, 172);
	border-radius: 20px;
	font-weight: bold;
	height: 60px;
	letter-spacing: 2px;
	line-height: 60px;
	text-align: center;
	text-transform: uppercase;
	transition: transform 0.5s;
}
#bodyD ul li:hover
{
	transform: scale(1.05);
}
#bodyD #book
{
	display: grid;
	grid-gap: 2%;
	grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
}
#bodyD #book div
{
	position: relative;
	border: none;
	height: 250px;
	margin: 20px auto;
	perspective: 600px;
	transform-style: preserve-3d;
	width: 200px;
}
#bodyD #book div h4{
	
	text-align: center;
	width: 100%;
}
#bodyD #book #book2
{
	border: none;
	height: 250px;
	margin: 20px auto;
	perspective: 600px;
	transform-style: preserve-3d;
	width: 200px;
}
#bodyD #book button:hover
{
	transform: scale(1.05) rotateZ(0deg) rotateX(0deg) rotateY(0deg);
}
#bodyD #book div:first-child
{
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
svg{
}
#bodyD #book #book2:first-child
{
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#bodyD #book #book2:last-child
{
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.divAya
{
	display: none;
	margin: 20px;
}

.label
{
	border: 1px solid green;
	font-size: 35px;
	font-weight: bolder;
	margin-top: 10px;
	max-width: 300px;
	text-align: center;
}
#goToTheBookDivs {
    overflow: hidden;
    text-align: center;
    height: 100vh;
    background: black;
}
.outDiv
{
	height: 0vh;
	text-align: center;
	transform: scale(0);
}
#ayatNum{
	text-align: center;
	display: none;
}
#asfarName {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 95%;
    justify-content: center;
    overflow-y: scroll;
    padding: 0 0 92px 0;
    text-align: center;
}

#asfarName > .oldbook {
    background-image: linear-gradient(to right, #283048 0%, #859398 51%, #283048 100%);
    background-size: 200% auto;
    border-radius: 24px;
    color: white;
    font-size: 25px;
    font-weight: 900;
    height: 60px;
    text-align: auto;
}
#isshahNum{
}
#isshahNum fieldset, #fieldset2 {
	color: black;
    padding: 0px 10px 50px;
    height: calc(100vh - 40px);
    overflow-y: scroll;
}
#isshahNum fieldset legend, #legend2
{
	font-size: 20px;
	padding: 10px;
}
.isshah_num
{
	background: green;
	border: 1px solid lightskyblue;
	border-radius: 50px;
	color: white;
	font-weight: bold;
	height: 50px;
	margin: 5px;
	transition-duration: .5s;
	width: 50px;
}
.isshah_num:hover
{
	background-color: lightskyblue;
	border: 1px solid rgb(66, 73, 77);
	box-shadow: 4px 4px 4px #333;
	transform: translate(0, -1px);
}

.isshah_num a{
	padding-top: 15px;
	height: 100%;
	width: 100%;
	color: wheat;
	display: inline-block;
}
#pageRead
{
	position: relative;
	height: calc(100vh - 30px);
	overflow: hidden;
	background: wheat;
	padding: 20px 0 0;
	display: none;
}
#barBox{
	position: fixed;
	margin: 0px;
  height: 50px;
  width: 100%;
  left:0px;
  padding-left: 10px;
  top: 0px;
  z-index: 11;
  color: inherit;
  background: black;
}
#sittingSection{
	position: absolute;
	left:0px;
  height: 50px;
}
#sittingSection svg{
	display: none;
}
#sittingSection #textInhead{
	display: none;
}
#titleForBoxAy {
    position: absolute;
    width: 100%;
    height: 50px;
	line-height: 50px;
    text-align: center;
}
#titleForBoxAy > button{
    max-width: 500px;
    min-width: 129px;
    min-height: 35px;
    border-radius: 10px;
    background: black;
    color: white;
    font-size: 1.5em;
    padding: 0 5px;
    font-weight: bloder;
    box-shadow: 2px 2px 3px seagreen;
}

#boxAya
{
	user-select: none;
	position: absolute;
	width: 100%;
	height: 100vh;
	padding: 77px 10px 350px;
	overflow-x: hidden;
	overflow-x: hidden;
	white-space: pre-line;
	z-index: 10;
	transition: 0s;

}
#boxAya > span{
	transition: 0s;
}
.selah {
    display: block;
	text-align: right;
    text-decoration: inherit;
}
.selahAr{
	display: block;
	text-align: left;
    text-decoration: inherit;
}
#butInBoxAya{
	height: 100px;
	position: absolute;
	bottom: 50px;
	width: 100%;
	}
	.butInBox{
		background: green;
		border: 1px solid lightskyblue;
		border-radius: 50px;
		color: white;
		font-weight: bold;
		height: 50px;
		margin: 5px;
		transition-duration: .5s;
		width: 50px;
		position:absolute;
		bottom:0px; 
		z-index: 10;
	}
	.leftbutInBox{
		left:0%;
	}
	.rightbutInBox{
		right:0;
	}
	#gobackId {
		background: rgba(252, 4, 4, 0.5);
		bottom: 0;
		left: 50%;
		color: white;
		font-size: 4vmin;
		font-weight: bold;
		height: 30px;
		position: sticky;display: none;
		transition-duration: .5s;
		transform: translate(-50%, 0px);
		width: 30vw;
		z-index: 19;
	}
#gobackId:hover{
	background: rgba(255, 0, 0, 1);
}
#dored{
	animation-name: forAyaBlack;
  animation-duration: 1s;
  font-weight: bolder;
}

@keyframes forAyaBlack{
	0%{
color: black;
	}

	2%{
		color:red;
	}
	5%{
		color: black;
	}
	10%{
		color:red;
	}
	20%{
		color: black;
	}
	30%{
		color:red;
	}
	40%{
		color: black;
	}
	60%{
		color:red;
	}
	70%{
		color: black;
	}
	90%{
		color:red;
	}
	
	100%{
		color: black;
	}
}
 .ayatSpan{
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#chengLang {
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    top: calc(100% - 60px);
    transform: scale(0);
    height: 61px;
    max-width: 100.5%;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    background-color: inherit;
    align-items: center;
    box-shadow: inset .1px .1px 9px #333;
}
#inputCopyId{
	height: 50px;
}
#copyT{
	max-width: 200px ;
	padding: 15px;
	background-color: lightseagreen;
	border-radius: 10px;
	font-size: 30px;
	font-weight: bolder;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	display: none;
	transform: translate(-50%, -50%) ;
}

#OtherLangButId{
	position: sticky;
	top: 0px;
	
}


#copyButId{

}
#chengLang button{
	min-width: 50px;
	min-height: 50px;
	padding:10px;
	font-size: 10px;
	color: white;
	border-radius: 10px;
	margin: 0 2px;
}

.divAyatColors {
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    position: fixed;
    top: calc(100% - 160px);
    transform: scale(0);
    height: 100px;
    width: 100%;
    left: 0;
    z-index: 50;
    transition-duration: .5s;
    justify-content: center;
    align-items: center;
    box-shadow: inset .1px .1px 9px #333;
    background: white;
}

.ayatColors{
	width: 40px;
	height: 40px;
	margin: 0 5px;
	border-radius: 20px;
	line-height: 40px;
	border: .1px solid rgba(0,0,0,.5);
	padding: 0;
}
#closechengLangBut{
	color: black;
	background: red;
	position: absolute;
	right: 0;
	
}
figure{
		display: inline-block;
		width: 30%;
		margin-left: 12px;
}
#firidI{
	background-size: 80%;
	background-position: center;
background-repeat: no-repeat;
}
#secoI{
	background-size: 80%;	
	background-position: center;
background-repeat: no-repeat;
}





@keyframes forAyawheat{
	from{
color: wheat;
	}to{
color:red;
	}
}

@media only screen and (max-width: 867px)
{
	.container
	{
		margin: auto;
		padding: 0;
		width: 100%;
	}
	#front
	{
		/* background: url(../imges/MyPost2.png); */
		background-position: 30%;
		background-size: cover;
	}
	.headC1
	{
		height: 20vh;
		position: relative;
	}
	#bodyD ul li
	{
		height: 50px;
		line-height: 50px;
		text-align: center;
	}
	#bodyD #book div
	{
		height: 150px;
		width: 100px;
	}
	
	#sitting > #iconmenu {
		top: -5px;
		width: 25px;
		height: 25px;
		left: 2px;
	}
	
	#situl li {
		font-size: 15px;
		min-height: 43px;
		width: 120px;
		display: block;
		background: black;
		border-radius: 10px;
	}
	#selectD{
		margin:5px 0 0;
	}
	#situl {
		display: block;
		border-radius: 0 10px 10px 10px;
		background: rgb(224, 223, 223);
		left: 30px;
		top: -5px;
	}
	#situl #fonsiz button {
		
		min-width: 42px;
	}
	
	#sunI , #moonI{
		font-size: 16px;
		
	}
	.situlC2{
		max-width: 150px;
		left: 0px;
	}

	.label {
		font-size: 23px;
		line-height: 36px;
		max-width: 150px;
	}
	.listbox{
		max-width: 1000px;
		/* display: block; */
		/* max-height: 400px; */
	}
}




#boxInfo {
    height: 100%;
    width: 100%;
    direction: rtl;
    padding:50px 15px;
    overflow-y: scroll;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bolder;
    color: black;
    position: absolute;
    top: 0%;
    left: 0%;
    display: block;
    transform: scale(0);
    z-index: 19;
}
#saveInfo {
    height: 100vh;
    width: 100%;
    padding: 10px 10px 50vh;
    border-radius: 10px;
    direction: rtl;
    font-weight: bolder;
    color: black;
    position: absolute;
    top: 0%;
    overflow: scroll;
    z-index: 19;
    left: 0%;
    display: block;
    transform: scale(0);
}
.titleC, .title11C{
		padding: 10px 5px;
		border-radius: 7px;
		margin: 15px 0;
}
.noteC{
		width: 92vw;
		height: 50vh;
		border-radius: 10px;
		padding:10px;
		display: block;
}
.saveBut {
    padding: 10px 15px;
    font-size: 20px;
    margin: 0 0 0px;
    background: green;
    color: white;
    border-radius: 10px;
    position: fixed;
    top: 5px;
    right: 5px;
}
#saveInfo button{
	min-width: 100px;
	height: 45px;
}
#pareMarks {
    position: absolute;
    display: none;
    padding: 10px 0 50vh;
    height: 100vh;
    top: 0;
    left: 50%;overflow-y: scroll;
    z-index: 100000;
    transform: translate(-51%, 0px);
    background: black;
}
.closeMarkId {
    min-width: 40%;
    border-radius: 10px;
    font-size: 35px;
    background: red;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0px);
    font-weight: bold;
    position: fixed;
    line-height: 35px;
    z-index: 20;
	display: none;
}
#boxSele{
	width: 100%;
	height: 40px;
    border-radius: 10px;
    font-size: 35px;
	padding:2.5px 4px ;
    background: gray;
	display: none;
    top: 0;
    left: 5px;
    font-weight: bold;
    position: fixed;
    line-height: 35px;
    z-index: 20;
}
#selectId {
    width: 35px;
    height: 35px;
    background-color: rgb(104 104 104 / 80%);
    display: grid;
    grid-template-columns: 5px 5px 5px;
    grid-template-rows: 5px 5px 5px;
    justify-content: center;
    grid-column-gap: 7px;
    grid-row-gap: 6px;
    justify-items: center;
    align-content: center;
}
#selectId span {
    width: 8px;
    margin: 0px;
    height: 8px;
    border: 0.20vmin solid lightblue;
	background-color: lightblue;
	border: none;
}

#markButId {
	position: relative;
    width: 62px;
	background-color: green;
    overflow: visible;
    background-size: 84% 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}
.title11C{
	display: block;
	outline: none;
}
.noteC22 {
    display: block;
	min-height: 100px;
    max-height: 500px;
    border: 2px solid 3333;
    padding: 10px;
    overflow-y: scroll;
    border: 2px solid #333;
    overflow-wrap: break-word;
    word-woap: break-word;
    margin: 5px 0;
    border-left: none;
    border-right: none;
}
#markButTId {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
}
.pareBoxInfo{
	border: 5px solid #333;
	margin: 0 0 10px;
	padding:15px 0 10px;
	position: relative;
}
.pareBoxInfo:first-child{
	margin-top: 40px;
}
.pareBoxInfo button{
	min-width: 30px;
	padding: 10px 0;
	margin: 5px;
}
.selC{
		position: absolute;
		top: 1px;
		left: 1px;
		width: 25px;
		height: 25px;
}
#deltIt {
    width: 64px;
    height: 30px;
    position: absolute;
    top: 5px;
    left: 50px;
	transform: scale(0);
}
#selallId {
    max-width: 100px;
    padding: 0 5px;
    height: 30px;
    position: absolute;
    top: 5px;
    left: 119px;
    transform: scale(0);
}
#forcopy svg{
	position: absolute;
}
.clasCir{
	position: absolute;
	top: 0;
	left: 0;
	transition:00s;
	transition-timing-function: ease-in-out;
}
#head #textInhead {
    color: gold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.listbox{
	max-width: 1000px;
	/* display: block; */
	/* max-height: 400px; */
}